.background {
  background: 
  linear-gradient(rgba(240, 39, 39, 0.5), rgba(34, 116, 216, 0.5)), 
  url('https://picsum.photos/id/1060/2550/1440') 50% no-repeat;
  background-size: cover;
  height: 100%;
}
